<div class="card card-profile">
    <div class="card-body text-center">
        <h3 class="mb-3">@ViewBag.User.GetFullName()</h3>
        <p class="mb-4"><strong>Age : </strong>@ViewBag.User.GetAge() </p>
        <p class="mb-4"><strong> Address : </strong>@ViewBag.User.Address.StreetAdress@ViewBag.User.Address.AppartementAdress</p>
        <p class="mb-4"><strong> Phone : @ViewBag.User.Phone  </strong></p>
        <p class="mb-4"><strong> Email : @ViewBag.User.Email </strong></p>
    </div>
</div>